body{
    margin: 20px;
}
p{
    color: orange;
}
.row{
border:solid black ;
padding: 10px;
margin: 20px ;
display: flex;

}
.product1{
    width: 33%;
    padding: 15px;
    margin: 5px;
    background: white;
    border: 3px solid red;

}
.product1 hr{
    height: 3px;
    margin: 8px 0;
    border: none;
    background: red;
}
.product2{
    width: 33%;
    padding: 15px;
    margin: 5px;
    background: white;
    border: 3px dashed blue;
}
.product2 hr{
    height: 0;
    border: 2px dashed blue;  
    margin: 8px 0;  
    background:none; 

}
.product3{
    width: 33%;
    padding: 15px;
    margin: 5px;
    background: white;
    border: 3px solid red;

}
.product3 hr{
    height: 3px;
    margin: 8px 0;
    border: none;
    background: red;
}
.product4{
    width: 33%;
    padding: 15px;
    margin: 5px;
    background: white;
    border: 3px dashed blue;

}
.product4 hr{
    
        height: 0;
        margin: 8px 0;
        border: 2px dashed blue;    
    background:none; 
}


.product5{
    width: 33%;
    padding: 15px;
    margin: 5px;
    background: white;
    border: 3px solid red;
}
.product5 hr{
    height: 3px;
    margin: 8px 0;
    border: none;
    background: red;
}
.product6{
    width: 33%;
    padding: 15px;
    margin: 5px;
    background: white;
    border: 3px dashed blue;

}
.product6 hr{
    
    height: 0;
    margin: 8px 0;
    border: 2px dashed blue;    
background:none; 
}
h2{
    margin: 0;
}

