p{
    color: orange;
}
.row {
    border: 3px solid black;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
}

.card {
    width: 33%;
    padding: 15px;
    margin: 5px;
}

.card h2 {
    margin: 0;
}

.card hr {
    height: 3px;
    margin: 10px ;
}

.red {
    border: 3px solid red;
}

.red hr {
    border: 2px solid red;
    height: 0;
    background: none;
}
.blue {
    border: 3px dashed blue;
}

.blue hr {
    border: 2px dashed blue;
    height: 0;
    background: none;
}
